# --- Core app dependencies ---
streamlit==1.50.0
python-dotenv
google-generativeai==0.8.5

# --- NLP / Embeddings ---
faiss-cpu==1.7.4

# --- Utilities ---
PyMuPDF==1.24.4
numpy<2
pandas
protobuf==4.25.3
tqdm
typing-extensions

sentence-transformers==2.7.0
huggingface-hub==0.23.0
transformers==4.40.0
torch==2.3.0
